<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMonitoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <XMonitoring.Properties.Settings>
            <setting name="label1" serializeAs="String">
                <value />
            </setting>
            <setting name="label2" serializeAs="String">
                <value />
            </setting>
            <setting name="label3" serializeAs="String">
                <value />
            </setting>
            <setting name="label4" serializeAs="String">
                <value />
            </setting>
            <setting name="textblock1" serializeAs="String">
                <value />
            </setting>
            <setting name="textblock2" serializeAs="String">
                <value />
            </setting>
            <setting name="textblock3" serializeAs="String">
                <value />
            </setting>
            <setting name="textblock4" serializeAs="String">
                <value />
            </setting>
            <setting name="labl1" serializeAs="String">
                <value />
            </setting>
            <setting name="labl2" serializeAs="String">
                <value />
            </setting>
            <setting name="labl3" serializeAs="String">
                <value />
            </setting>
            <setting name="labl4" serializeAs="String">
                <value />
            </setting>
            <setting name="lable1" serializeAs="String">
                <value />
            </setting>
            <setting name="lable2" serializeAs="String">
                <value />
            </setting>
            <setting name="textblock4margin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="textblock1margin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="textblock3margin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="textblock2margin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="textblock4foreground" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="textblock3foreground" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="textblock2foreground" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="textblock1foreground" serializeAs="String">
                <value>#00000000</value>
            </setting>
        </XMonitoring.Properties.Settings>
    </userSettings>
</configuration>